@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,500;1,700&display=swap');

*{
  font-family:'Roboto',sans-serif ;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#hi{
  border: 2px solid black;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  top: 50%;
  left: 50%;
   position: absolute; 
  transform: translate(-50%,-50%);
  margin: 0 auto; 
  width: 256px;
  
  text-align: center;
  border: none;
  background-color: rgb(255, 254, 254);
  border-radius: 10px;
 
}
.keypad{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows:minmax(50px,auto) ;
  row-gap: 5px;
  column-gap: 5px;
}
input[type="text"]{
  height: 75px;
  width: 249px;
  background-color: rgb(248, 242, 242);
  border: 0px;
  color:rgb(15, 14, 14) ;
  text-align: right;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}
#clear{
  grid-column: 1/3;
  grid-row: 1;
}
#result{
  grid-row: 5;
  grid-column: 3/5;
}
button{
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #263824;
  color:white ;
  font-weight: 400;
}
/* input:focus,
input:active,
button:focus,
button:active{
  outline: none;
} */
.light{
  background: rgb(123, 40, 40);
}
.light1{
  background: rgb(196, 196, 56);
  color: black;
}
.light2{
  background: rgb(40, 123, 68);
}
.light3{
  background: rgb(50, 150, 208);
}



